<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bundles/erikcrud/css/vendor/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/erikcrud/css/flat-ui.css') }}" rel="stylesheet">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
